*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-color: #FFFFFF;
    --bg-section: #F6F6F6;
    --bg-footer: #23272A;
    --dark-text: #000000;
    --bg-header: #2A5EE8;
    --light-bg: #7289DA;
}
body{
    background-color: var(--primary-color);
    font-family: 'Noto Sans', sans-serif;
}
.container{
    max-width: 1400px;
    margin: 0 auto;
    padding: 0px 15px;
}
.d-flex{
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    align-items: flex-start;
}
.column{
    display: flex;
    flex-direction: column;
    align-items: center;
}
header{
    background-color: var(--bg-header);
}
nav a{
    color: var(--primary-color);
    text-decoration: none;
    display: inline-block;
}
header nav a{
    padding: 0px 10px;
}
.btn{
    background-color: var(--primary-color);
    color: var(--dark-text);
    padding: 5px 10px;
    border-radius: 20px;
    display: inline-block;
    text-decoration: none;
}
.btn-dark{
    background-color: var(--dark-text);
    color: var(--primary-color);
}
.even-section{
    background-color: var(--bg-section);
}
.left{
    width: 60%;

}
.right{
    width: 40%;
}
.list{
    list-style: none;
    line-height: 30px;
}
footer{
    background-color: var(--bg-footer);
    padding-top: 50px;
}
.bg-image{
    background-image: url('../img/jumbo.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 500px;
}
.content{
    max-width: 700px;
    color: var(--primary-color);
}
.content p{
    padding: 15px 30px;
    line-height: 1.8;
}
.reverse{
    flex-flow: row-reverse wrap;
}
.align-center{
    align-items: center;
    align-content: center;
}
.justify-center{
    justify-content: center;
}
.text-center{
    text-align: center;
}
.right-h2{
    font-size: 2.2rem;
    padding: 30px 150px 30px 10px;
}
.center-h2{
    font-size: 2.2rem;
    padding: 0px 10px;
}
.right-p{
    padding: 0px 115px 0px 10px;
    line-height: 25px;
}
.center-p{
    padding: 0px 10px;
    line-height: 25px;
}
.bg-section h3{
    padding-bottom: 20px;
}
.bg-purple{
    background-color: var(--light-bg);
    color: var(--primary-color);
    font-size: 14px;
    padding: 8px 15px;
}
.text-footer{
    color: var(--primary-color);
    font-size: 0.8rem;
}
nav h5{
    color: var(--light-bg);
}
.footer-top-right a{
    font-size: 0.8rem;
}
.footer-top-left h3{
    font-size: 1.8rem;
    color: var(--light-bg);
}
.flag{
    width: 24px;
    padding:16px 5px 0px 0px;
}
.footer-top-left span{
    color: var(--primary-color);
    font-size: 0.8rem;
}
.footer-top-right{
    width: 70%;
}
.footer-top-left{
    width: 30%;
}
.footer-top-left i{
    color: var(--primary-color);
    font-size: 18px;
    padding:16px 14px 0px 0px;
}
.p-80{
    padding: 80px 0px;
}
.p-20{
    padding: 14px 0px;
}